@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.commune-path {
  /* Effet de transition doux pour la couleur et l'opacité */
  transition: fill 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.commune-path:hover {
  /* Légère transparence au survol */
  opacity: 0.7;
  cursor: pointer;
}